# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: build backend

on:
  push:
    branches: [ develop ]
    paths:
      - backend/**
      - smartcontract/**
      - .github/workflows/backend.yml
  pull_request:
    branches: [ develop ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: comchangs/action-yarn@v0.1-beta
      - run: yarn build
        working-directory: ./backend
      
